.container {
    line-height: 150%;
}

/*Header*/
header {
    text-align: center;
    background-color: blueviolet;
    padding: 1%;
    justify-content: space-between;
}

/*Main*/
.content {
    padding-top: 3%;
    padding-left: 10%;
    padding-right: 10%;
    color: white;
    background-color: rgb(39, 39, 39);
}

.listaTipos {
    border-left: 1px solid white;
}

/*footer*/
.footer {
    bottom: 0;
    position: fixed;
    text-align: center;
    background-color: grey;
    padding: 1%;
    width: 100%;
}